<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{images/logo-icon.png}" >
    <title>TIMS-dhcp识别</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{css/colors/blue.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>

<body class="fix-header fix-sidebar card-no-border">

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <div id="main-wrapper">

        <div th:replace="commons/bar::#topbar(activeUri='passive')"></div>
        <div th:replace="commons/bar::#sidebar(activeUri='passive')"></div>
        <div class="page-wrapper">

            <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Table</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">TIMS</a></li>
                            <li class="breadcrumb-item active">DHCP识别</li>


                        </ol>
                    </div>
                </div>

                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Devices</h4>
                                <h6 class="card-subtitle">Result<code>.table</code></h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ip</th>
                                                <th>Device name</th>
                                                <th>查看详情</th>
                                                <th>权限管理</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="ipAssignment:${ipAssignments}">
                                                <td th:text="${ipAssignment.ip}"></td>
                                                <td>[[${ipAssignment.fingerPrint.device_name}]]</td>
                                                <td>
                                                    <a class="btn btn-sm btn-info" th:href="@{/dev_details/} + ${ipAssignment.ip}">详情</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-sm btn-primary" th:href="@{/privalige/} + ${ipAssignment.ip}">管理</a>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:replace="commons/bar::#footer"></div>
        </div>
    </div>

    <script>
        $(".inputBtn").click(function (){

            alert($("#ip").val());
            if(checkIp($("#ip").val())){
                $("#inputForm0").submit();
                return false;
            }
            else{
                alert("请检查ip格式");
                return false;
            }
        });

          function checkIp(ip) {
            var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
            var reg = ip.match(exp);
            if(reg==null){
                return false;
            } else {
                return true;
            }
        }

    </script>

    <script th:src="@{plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{js/jquery.slimscroll.js}" ></script>
    <!--Wave Effects -->
    <script th:src="@{js/waves.js}" ></script>
    <!--Menu sidebar -->
    <script th:src="@{js/sidebarmenu.js}" ></script>
    <!--stickey kit -->
    <script th:src="@{plugins/sticky-kit-master/dist/sticky-kit.min.js}" ></script>
    <!--Custom JavaScript -->
    <script th:src="@{js/custom.min.js}"></script>
</body>

</html>
