<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{images/logo-icon.png}">
    <title>TIMS-终端识别管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link type="text/css" th:href="@{plugins/bootstrap/css/bootstrap.min.css}"  rel="stylesheet">
    <!-- chartist CSS -->
    <link type="text/css" th:href="@{plugins/chartist-js/dist/chartist.min.css}"  rel="stylesheet">
    <link type="text/css" th:href="@{plugins/chartist-js/dist/chartist-init.css}"  rel="stylesheet">
    <link type="text/css" th:href="@{plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css}" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link type="text/css" th:href="@{plugins/c3-master/c3.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link type="text/css" th:href="@{css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link type="text/css" th:href="@{css/colors/blue.css}"  id="theme" rel="stylesheet">

</head>

<body class="fix-header fix-sidebar card-no-border">

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <div id="main-wrapper">

        <div th:replace="commons/bar::#topbar"></div>
        <div th:replace="commons/bar::#sidebar"></div>

        <div class="page-wrapper">

            <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">主页</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">TIMS</a></li>
                            <li class="breadcrumb-item active">主页</li>
                        </ol>
                    </div>
                </div>

                <!--<div>-->
                    <!--<a class="nav-link hidden-sm-down text-muted waves-effect waves-dark"-->
                       <!--th:href="@{javascript:void(0)}" href="javascript:void(0)">-->
                        <!--<i class="ti-search"></i>-->
                    <!--</a>-->
                    <!--<form class="AppIconMenu-search">-->
                        <!--<input type="text" class="form-control" placeholder="Search & enter">-->
                        <!--<a class="srh-btn"><i class="ti-close"></i></a>-->
                    <!--</form>-->
                <!--</div>-->

                <div class="row">
                    <!-- Column -->

                    <div class="col-lg-8 col-md-7">

                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap">
                                            <div>
                                                <h3 class="card-title">Sales Overview</h3>
                                                <h6 class="card-subtitle">Ample Admin Vs Pixel Admin</h6> </div>
                                            <div class="ml-auto">
                                                <ul class="list-inline">
                                                    <li>
                                                        <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6> </li>
                                                    <li>
                                                        <h6 class="text-muted  text-info"><i class="fa fa-circle font-10 m-r-10"></i>Pixel</h6> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="amp-pxl" style="height: 360px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <h3 class="card-title">Our Visitors </h3>
                                <h6 class="card-subtitle">Different Devices Used to Visit</h6>
                                <div id="visitor" style="height:290px; width:100%;"></div>
                            </div>
                            <div>
                                <hr class="m-t-0 m-b-0">
                            </div>
                            <div class="card-block text-center ">
                                <ul class="list-inline m-b-0">
                                    <li>
                                        <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10 "></i>Mobile</h6> </li>
                                    <li>
                                        <h6 class="text-muted  text-primary"><i class="fa fa-circle font-10 m-r-10"></i>Desktop</h6> </li>
                                    <li>
                                        <h6 class="text-muted  text-success"><i class="fa fa-circle font-10 m-r-10"></i>Tablet</h6> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:replace="commons/bar::#footer"></div>

        </div>

    </div>

    <script th:src="@{plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{js/jquery.slimscroll.js}" ></script>
    <!--Wave Effects -->
    <script th:src="@{js/waves.js}"></script>

    <!--stickey kit -->
    <script th:src="@{plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{js/custom.min.js}" ></script>


    <script th:src="@{plugins/chartist-js/dist/chartist.min.js}" ></script>
    <script th:src="@{plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js}" ></script>
    <!--c3 JavaScript -->
    <script th:src="@{plugins/d3/d3.min.js}" ></script>
    <script th:src="@{plugins/c3-master/c3.min.js}" ></script>
    <!-- Chart JS -->
    <script th:src="@{js/dashboard1.js}" ></script>
</body>

</html>
