<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-model="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{images/logo-icon.png}">
    <title>TIMS-主动扫描</title>

    <link th:href="@{plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{css/style.css}" rel="stylesheet">

    <link th:href="@{css/colors/blue.css}" id="theme" rel="stylesheet">


    <link rel="stylesheet" th:href="@{css/foundation.min.css}"/>
    <link rel="stylesheet" th:href="@{css/app.css}" />
    <link rel="stylesheet" th:href="@{css/output-fragment.css}" />

    <script th:src="@{js/vendor/jquery-3.2.1.min.js}" ></script>
    <script th:src="@{js/vendor/foundation.min.js}"	></script>
    <script th:src="@{js/vendor/d3.v3.min.js}" ></script>
    <script th:src="@{js/vendor/CollapsibleLists.js}" ></script>
    <script th:src="@{js/app.js}" ></script>
    <script th:src="@{js/graph.js}" ></script>
    <style>
        .fill_parent{
            hight:100%;
        }
    </style>

</head>

<body class="fix-header fix-sidebar card-no-border">

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <div id="main-wrapper">

        <div th:replace="commons/bar::#topbar"></div>
        <div th:replace="commons/bar::#sidebar"></div>

        <div class="page-wrapper">

            <div class="container-fluid">



                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">主动扫描</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">TIMS</a></li>
                            <li class="breadcrumb-item active">主动扫描</li>
                        </ol>
                    </div>
                </div>



                <div class="row">

                    <div class="col-6 fill_parent" >

                        <!--<div class="card">-->
                            <!--<div class="card-block">-->
                                <!--255.255.255.0-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="card fill_parent">
                            <!--搜索框-->
                            <div class="card-block">
                                <h3>单机扫描</h3>
                                <form id="inputForm1" class="app-search" th:action="@{ip}" method="post">
                                    <div class="form-inline">
                                        <input type="text" class="form-control" id="targetIp" name="target-ip" placeholder="ip地址，如：219.219.220.50">

                                        <a class="inputBtn nav-link hidden-sm-down text-muted waves-effect waves-dark text-right"
                                           type="submit">
                                            <i class="ti-search"></i>
                                        </a>
                                    </div>


                                </form>
                                <br>

                                <h3>扫描网段</h3>
                                <form id="inputForm2" class="app-search" th:action="@{ips}" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="net" name="net" placeholder="网络地址，如：192.168.60.0">
                                        <input type="text" class="form-control" id="mask" name="mask" placeholder="子网掩码，如：255.255.255.0">
                                        <a class="inputBtn2 nav-link hidden-sm-down text-muted waves-effect waves-dark"
                                           type="submit">
                                            <i class="ti-search"></i>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>


                    <div class="col-6 fill_parent">




                <div class="card fill_parent">
                    <div class="card-block ">
                        <div  id="out-fragment" class="out_container">
                            <div class="single-output" th:each="cmd : ${commands}" >
                                <div class="single-output" >
                                    <table class="output-table">
                                        <thead>
                                        <tr>
                                            <th colspan="2" class="command-header">
                                                <div class="command-display" th:text="'扫描： ' + ${cmd.text}"></div>
                                                <div class="loading"> </div>
                                                <form target="_blank" th:action="@{'/nmap/download/' + ${cmd.output.filename}}">
                                                    <button class="command-action command-action-save" type="submit">
                                                        Save
                                                    </button>

                                                </form>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td rowspan="3" class="command-nav-bar">
                                                <button class="command-sidebar-button selected" id="cb1" type="button" data-listedElement="el1">
                                                    Output
                                                </button>
                                                <button class="command-sidebar-button" id="cb2" type="button" data-listedElement="el2">
                                                    HTML
                                                </button>

                                            </td>
                                            <td class="command-target"><h2></h2></td>
                                        </tr>
                                        <tr>
                                            <td class="result">
                                                <div id="el1" class = "outtoggle console-output">
                                                    <pre th:utext="${cmd.output.text}"></pre>
                                                    <div class="loading"></div>
                                                </div>
                                                <div id="el2" class="outtoggle nmap hidden" th:utext="${cmd.output.xml}">
                                                </div>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="command-displaying" th:text="${cmd.output.filename}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                    </div>



                </div>

            </div>

            <div th:replace="commons/bar::#footer"></div>
        </div>

    </div>

    <script th:src="@{plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{js/jquery.slimscroll.js}" ></script>
    <!--Wave Effects -->
    <script th:src="@{js/waves.js}" ></script>
    <!--Menu sidebar -->
    <script th:src="@{js/sidebarmenu.js}" ></script>
    <!--stickey kit -->
    <script th:src="@{plugins/sticky-kit-master/dist/sticky-kit.min.js}" ></script>
    <!--Custom JavaScript -->
    <script th:src="@{js/custom.min.js}"></script>

    <script>
        $(".inputBtn").click(function (){

            alert($("#targetIp").val());
            if(checkIp($("#targetIp").val())){
                $("#inputForm1").submit();
                return false;
            }
            else{
                alert("请检查ip格式");
                return false;
            }
        });

        $(".inputBtn2").click(function (){


            alert($("#net").val());
            alert($("#mask").val());
            if(!checkIp($("#net").val()) ){

                alert("请检查网络地址格式");
            }
            else if(!checkMask($("#mask").val())){

                alert("请检查子网掩码格式");
                return false;
            }
            else{
                $("#inputForm2").submit();
                return false;
            }
        });


        function checkIp(ip) {
            var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
            var reg = ip.match(exp);
            if(reg==null){
                return false;
            } else {
                return true;
            }
        }

        function checkMask(mask) {
            var exp1=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/;
            var reg1 = mask.match(exp1);
            if(reg1==null){
                return false;
            } else {
            return true;
            }
        }

    </script>

</body>

</html>
