<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-model="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{images/logo-icon.png}">
    <title>TIMS-系统设置</title>

    <link th:href="@{plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{css/style.css}" rel="stylesheet">

    <link th:href="@{css/colors/blue.css}"  id="theme" rel="stylesheet">

</head>

<body class="fix-header fix-sidebar card-no-border">

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <div id="main-wrapper">

        <div th:replace="commons/bar::#topbar"></div>
        <div th:replace="commons/bar::#sidebar"></div>

        <div class="page-wrapper">

            <div class="container-fluid">



                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">系统设置</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">TIMS</a></li>
                            <li class="breadcrumb-item active">系统设置</li>
                        </ol>
                    </div>
                </div>



                <div class="row">

                    <div class="col-12">


                        <div class="card">
                            <!--搜索框-->
                            <div class="card-block">

                                <h3>FingerPrint 指纹库服务</h3>
                                <form id="inputForm2" class="app-search" th:action="@{fpSettings}" method="post">
                                    <div class="form-group">
                                        <label>API url</label>
                                        <input type="text" class="form-control" id="fp_url" name="fp_url" th:placeholder="${config.finger_print_api_url}" placeholder="">
                                        <label>permission</label>
                                        <input type="text" class="form-control" id="fp_key" name="fp_key" th:placeholder="${config.finger_print_api_permission}">
                                        <a class="inputBtn2 nav-link hidden-sm-down text-muted waves-effect waves-dark"
                                           type="submit">确定</a>
                                    </div>
                                </form>
                                <br>


                                <h3>redis 服务</h3>
                                <form id="inputForm3" class="app-search" th:action="@{redisSettings}" method="post">
                                    <div class="form-group">
                                        <label>redis host</label>
                                        <input type="text" class="form-control" id="redis_host" name="redis_host" th:placeholder="${config.redis_host}" placeholder="">
                                        <label>redis port</label>
                                        <input type="text" class="form-control" id="redis_port" name="redis_port" th:placeholder="${config.redis_port}">
                                        <label>redis password</label>
                                        <input type="text" class="form-control" id="redis_password" name="redis_password" th:placeholder="${config.redis_password}">
                                        <label>match pattern (for searching ips in redis)</label>
                                        <input type="text" class="form-control" id="ip_regex" name="ip_regex" th:placeholder="${config.ip_pattern_regex}">
                                        <a class="inputBtn2 nav-link hidden-sm-down text-muted waves-effect waves-dark"
                                           type="submit">确定</a>
                                    </div>
                                </form>
                                <br>

                                <h3>DHCP代理服务器地址</h3>
                                <form id="inputForm1" class="app-search" th:action="@{serverSettings}" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="targetIp" name="target-ip" placeholder="ip地址，如：219.219.220.50">

                                        <a class="inputBtn nav-link hidden-sm-down text-muted waves-effect waves-dark text-right"
                                           type="submit">确定</a>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div th:replace="commons/bar::#footer"></div>

    </div>

    <script th:src="@{plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{js/jquery.slimscroll.js}" ></script>
    <!--Wave Effects -->
    <script th:src="@{js/waves.js}" ></script>
    <!--Menu sidebar -->
    <script th:src="@{js/sidebarmenu.js}" ></script>
    <!--stickey kit -->
    <script th:src="@{plugins/sticky-kit-master/dist/sticky-kit.min.js}" ></script>
    <!--Custom JavaScript -->
    <script th:src="@{js/custom.min.js}"></script>

    <script>
        $(".inputBtn").click(function (){

            alert($("#targetIp").val());
            if(checkIp($("#targetIp").val())){
                $("#inputForm1").submit();
                return false;
            }
            else{
                alert("请检查ip格式");
                return false;
            }
        });

        $(".inputBtn2").click(function (){


            alert($("#net").val());
            alert($("#mask").val());
            if(!checkIp($("#net").val()) ){

                alert("请检查网络地址格式");
            }
            else if(!checkMask($("#mask").val())){

                alert("请检查子网掩码格式");
                return false;
            }
            else{
                $("#inputForm2").submit();
                return false;
            }
        });


        function checkIp(ip) {
            var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
            var reg = ip.match(exp);
            if(reg==null){
                return false;
            } else {
                return true;
            }
        }

        function checkMask(mask) {
            var exp1=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/;
            var reg1 = mask.match(exp1);
            if(reg1==null){
                return false;
            } else {
            return true;
            }
        }

    </script>

</body>

</html>
